## Download and Clean Dataset
Let's start by importing the <em>pandas</em> and the Numpy libraries.

In [2]:
import pandas as pd
import numpy as np

We will be using the dataset provided in the assignment

<strong>The dataset is about the compressive strength of different samples of concrete based on the volumes of the different ingredients that were used to make them. Ingredients include:</strong>

<strong>1. Cement</strong>

<strong>2. Blast Furnace Slag</strong>

<strong>3. Fly Ash</strong>

<strong>4. Water</strong>

<strong>5. Superplasticizer</strong>

<strong>6. Coarse Aggregate</strong>

<strong>7. Fine Aggregate</strong>

Let's download and read the dataset into a <em>pandas</em> dataframe.

In [3]:
concrete_data = pd.read_csv('https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/DL0101EN/labs/data/concrete_data.csv')
concrete_data.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28,79.99
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28,61.89
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270,40.27
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365,41.05
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360,44.30

So the first concrete sample has 540 cubic meter of cement, 0 cubic meter of blast furnace slag, 0 cubic meter of fly ash, 162 cubic meter of water, 2.5 cubic meter of superplaticizer, 1040 cubic meter of coarse aggregate, 676 cubic meter of fine aggregate. Such a concrete mix which is 28 days old, has a compressive strength of 79.99 MPa. 

### Check how many data points we have.

In [4]:
concrete_data.shape

(1030, 9)

So, there are approximately 1000 samples to train our model on. Because of the few samples, we have to be careful not to overfit the training data.
Let's check the dataset for any missing values.

In [5]:
concrete_data.describe()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age,Strength
count,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000,1030.000000
mean,281.167864,73.895825,54.188350,181.567282,6.204660,972.918932,773.580485,45.662136,35.817961
std,104.506364,86.279342,63.997004,21.354219,5.973841,77.753954,80.175980,63.169912,16.705742
min,102.000000,0.000000,0.000000,121.800000,0.000000,801.000000,594.000000,1.000000,2.330000
25%,192.375000,0.000000,0.000000,164.900000,0.000000,932.000000,730.950000,7.000000,23.710000
50%,272.900000,22.000000,0.000000,185.000000,6.400000,968.000000,779.500000,28.000000,34.445000
75%,350.000000,142.950000,118.300000,192.000000,10.200000,1029.400000,824.000000,56.000000,46.135000
max,540.000000,359.400000,200.100000,247.000000,32.200000,1145.000000,992.600000,365.000000,82.600000

In [6]:
concrete_data.isnull().sum()

Cement                0
Blast Furnace Slag    0
Fly Ash               0
Water                 0
Superplasticizer      0
Coarse Aggregate      0
Fine Aggregate        0
Age                   0
Strength              0
dtype: int64

The data looks very clean and is ready to be used to build our model.
Lets separate our data into predictors (X) and target (Y)

In [7]:
target = "Strength"
X = concrete_data.copy()
Y = X.pop(target)

In [8]:
X.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,540.0,0.0,0.0,162.0,2.5,1040.0,676.0,28
1,540.0,0.0,0.0,162.0,2.5,1055.0,676.0,28
2,332.5,142.5,0.0,228.0,0.0,932.0,594.0,270
3,332.5,142.5,0.0,228.0,0.0,932.0,594.0,365
4,198.6,132.4,0.0,192.0,0.0,978.4,825.5,360

In [9]:
Y.head()

0    79.99
1    61.89
2    40.27
3    41.05
4    44.30
Name: Strength, dtype: float64

In [10]:
X_norm = (X - X.mean()) / X.std()
X_norm.head()

,Cement,Blast Furnace Slag,Fly Ash,Water,Superplasticizer,Coarse Aggregate,Fine Aggregate,Age
0,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,0.862735,-1.217079,-0.279597
1,2.476712,-0.856472,-0.846733,-0.916319,-0.620147,1.055651,-1.217079,-0.279597
2,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,3.551340
3,0.491187,0.795140,-0.846733,2.174405,-1.038638,-0.526262,-2.239829,5.055221
4,-0.790075,0.678079,-0.846733,0.488555,-1.038638,0.070492,0.647569,4.976069

In [11]:
# number of predictors
n_cols      = X.shape[1]
input_shape = (n_cols,)

# Part B: Normalize the data (5 marks) 

Repeat Part A but use a normalized version of the data. Recall that one way to normalize the data is by subtracting the mean from the individual predictors and dividing by the standard deviation.

### 1. Randomly split the data into a training and test sets by holding 30% of the data for testing. You can use the train_test_split helper function from Scikit-learn.

In [12]:
from tensorflow import keras as K
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense

2024-01-02 17:38:00.398352: I tensorflow/core/platform/cpu_feature_guard.cc:182] This TensorFlow binary is optimized to use available CPU instructions in performance-critical operations.
To enable the following instructions: AVX2 FMA, in other operations, rebuild TensorFlow with the appropriate compiler flags.

In [13]:
# Import the train_test_split of scikit-learn
from sklearn.model_selection import train_test_split

Splitting the data into a training and test sets by holding 30% of the data for testing

In [14]:
X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size=0.3, random_state=42)

In [15]:
# define regression model
def regression_model():
    # create model
    model = Sequential()
    model.add(Dense(10, activation='relu', input_shape=(n_cols,)))
    model.add(Dense(1))
    
    # compile model
    model.compile(optimizer='adam', loss='mean_squared_error')
    return model

### 2. Train the model on the training data using 50 epochs.

Let's call the function now to create our model.

In [16]:
model = regression_model()

Next, we will train the model for 50 epochs.

In [17]:
# fit the model
epochs = 50
model.fit(X_train, y_train, epochs=epochs, verbose=1)

Epoch 1/50
23/23 [==============================] - 1s 1ms/step - loss: 10160.5420
Epoch 2/50
23/23 [==============================] - 0s 1ms/step - loss: 2792.7512
Epoch 3/50
23/23 [==============================] - 0s 1ms/step - loss: 2307.3887
Epoch 4/50
23/23 [==============================] - 0s 1ms/step - loss: 2028.1954
Epoch 5/50
23/23 [==============================] - 0s 4ms/step - loss: 1757.3201
Epoch 6/50
23/23 [==============================] - 0s 2ms/step - loss: 1499.4801
Epoch 7/50
23/23 [==============================] - 0s 2ms/step - loss: 1295.3823
Epoch 8/50
23/23 [==============================] - 0s 2ms/step - loss: 1107.5992
Epoch 9/50
23/23 [==============================] - 0s 2ms/step - loss: 949.8434
Epoch 10/50
23/23 [==============================] - 0s 2ms/step - loss: 811.8135
Epoch 11/50
23/23 [==============================] - 0s 2ms/step - loss: 698.7631
Epoch 12/50
23/23 [==============================] - 0s 2ms/step - loss: 594.7037
Epoch 13/50
23/23 [==============================] - 0s 2ms/step - loss: 512.7473
Epoch 14/50
23/23 [==============================] - 0s 1ms/step - loss: 445.2031
Epoch 15/50
23/23 [==============================] - 0s 1ms/step - loss: 391.2529
Epoch 16/50
23/23 [==============================] - 0s 2ms/step - loss: 351.1251
Epoch 17/50
23/23 [==============================] - 0s 1ms/step - loss: 315.6567
Epoch 18/50
23/23 [==============================] - 0s 2ms/step - loss: 288.2506
Epoch 19/50
23/23 [==============================] - 0s 1ms/step - loss: 266.8765
Epoch 20/50
23/23 [==============================] - 0s 1ms/step - loss: 253.6955
Epoch 21/50
23/23 [==============================] - 0s 2ms/step - loss: 237.7176
Epoch 22/50
23/23 [==============================] - 0s 2ms/step - loss: 227.4702
Epoch 23/50
23/23 [==============================] - 0s 1ms/step - loss: 216.8474
Epoch 24/50
23/23 [==============================] - 0s 1ms/step - loss: 209.4500
Epoch 25/50
23/23 [==============================] - 0s 1ms/step - loss: 202.5903
Epoch 26/50
23/23 [==============================] - 0s 2ms/step - loss: 195.8291
Epoch 27/50
23/23 [==============================] - 0s 1ms/step - loss: 190.1827
Epoch 28/50
23/23 [==============================] - 0s 1ms/step - loss: 185.6901
Epoch 29/50
23/23 [==============================] - 0s 2ms/step - loss: 181.4389
Epoch 30/50
23/23 [==============================] - 0s 2ms/step - loss: 178.3672
Epoch 31/50
23/23 [==============================] - 0s 2ms/step - loss: 176.8406
Epoch 32/50
23/23 [==============================] - 0s 2ms/step - loss: 173.7264
Epoch 33/50
23/23 [==============================] - 0s 2ms/step - loss: 167.5041
Epoch 34/50
23/23 [==============================] - 0s 2ms/step - loss: 165.6678
Epoch 35/50
23/23 [==============================] - 0s 2ms/step - loss: 160.9972
Epoch 36/50
23/23 [==============================] - 0s 2ms/step - loss: 159.5561
Epoch 37/50
23/23 [==============================] - 0s 2ms/step - loss: 157.0320
Epoch 38/50
23/23 [==============================] - 0s 2ms/step - loss: 157.3298
Epoch 39/50
23/23 [==============================] - 0s 2ms/step - loss: 154.2491
Epoch 40/50
23/23 [==============================] - 0s 2ms/step - loss: 150.2376
Epoch 41/50
23/23 [==============================] - 0s 2ms/step - loss: 147.2074
Epoch 42/50
23/23 [==============================] - 0s 2ms/step - loss: 147.5342
Epoch 43/50
23/23 [==============================] - 0s 4ms/step - loss: 144.8495
Epoch 44/50
23/23 [==============================] - 0s 2ms/step - loss: 143.1385
Epoch 45/50
23/23 [==============================] - 0s 2ms/step - loss: 141.2117
Epoch 46/50
23/23 [==============================] - 0s 2ms/step - loss: 140.7656
Epoch 47/50
23/23 [==============================] - 0s 2ms/step - loss: 140.3534
Epoch 48/50
23/23 [==============================] - 0s 2ms/step - loss: 140.9050
Epoch 49/50
23/23 [==============================] - 0s 2ms/step - loss: 141.3683
Epoch 50/50
23/23 [==============================] - 0s 2ms/step - loss: 144.3523

### 3. Evaluate the model on the test data and compute the mean squared error between the predicted concrete strength and the actual concrete strength. You can use the mean_squared_error function from Scikit-learn.

In [18]:
loss_val = model.evaluate(X_test, y_test)
y_pred = model.predict(X_test)
loss_val

10/10 [==============================] - 0s 1ms/step - loss: 147.5996
10/10 [==============================] - 0s 1ms/step

147.599609375

Now we need to compute the mean squared error between the predicted concrete strength and the actual concrete strength.

In [19]:
from sklearn.metrics import mean_squared_error

In [20]:
mean_square_error = mean_squared_error(y_test, y_pred)
mean = np.mean(mean_square_error)
standard_deviation = np.std(mean_square_error)
print(mean, standard_deviation)

147.59958828051927 0.0

Create a list of 50 mean squared errors and report mean and the standard deviation of the mean squared errors.

In [21]:
total_mean_squared_errors = 50
epochs = 50
mean_squared_errors = []
for i in range(0, total_mean_squared_errors):
    X_train, X_test, y_train, y_test = train_test_split(X,Y, test_size=0.3, random_state=i)
    model.fit(X_train, y_train, epochs=epochs, verbose=0)
    MSE = model.evaluate(X_test, y_test, verbose=0)
    print("MSE "+str(i+1)+": "+str(MSE))
    y_pred = model.predict(X_test)
    mean_square_error = mean_squared_error(y_test, y_pred)
    mean_squared_errors.append(mean_square_error)

mean_squared_errors = np.array(mean_squared_errors)
mean = np.mean(mean_squared_errors)
standard_deviation = np.std(mean_squared_errors)

print('\n')
print("This is the mean and standard deviation of " +str(total_mean_squared_errors) + " mean squared errors without normalized data. Total number of epochs for each training is: " +str(epochs) + "\n")
print("Mean: "+str(mean))
print("Standard Deviation: "+str(standard_deviation))

MSE 1: 94.79080963134766
10/10 [==============================] - 0s 941us/step
MSE 2: 112.55713653564453
10/10 [==============================] - 0s 970us/step
MSE 3: 68.93169403076172
10/10 [==============================] - 0s 930us/step
MSE 4: 72.1520767211914
10/10 [==============================] - 0s 979us/step
MSE 5: 63.011837005615234
10/10 [==============================] - 0s 976us/step
MSE 6: 57.713226318359375
10/10 [==============================] - 0s 1ms/step
MSE 7: 67.66876220703125
10/10 [==============================] - 0s 984us/step
MSE 8: 43.815887451171875
10/10 [==============================] - 0s 1ms/step
MSE 9: 49.158260345458984
10/10 [==============================] - 0s 1ms/step
MSE 10: 52.151363372802734
10/10 [==============================] - 0s 1ms/step
MSE 11: 51.90235900878906
10/10 [==============================] - 0s 958us/step
MSE 12: 46.06807327270508
10/10 [==============================] - 0s 6ms/step
MSE 13: 58.701210021972656
10/10 [==============================] - 0s 1ms/step
MSE 14: 54.128684997558594
10/10 [==============================] - 0s 2ms/step
MSE 15: 49.88032531738281
10/10 [==============================] - 0s 1ms/step
MSE 16: 43.0006217956543
10/10 [==============================] - 0s 837us/step
MSE 17: 48.008209228515625
10/10 [==============================] - 0s 1ms/step
MSE 18: 48.891353607177734
10/10 [==============================] - 0s 954us/step
MSE 19: 44.52439498901367
10/10 [==============================] - 0s 1ms/step
MSE 20: 50.97217559814453
10/10 [==============================] - 0s 958us/step
MSE 21: 43.27654266357422
10/10 [==============================] - 0s 961us/step
MSE 22: 46.198509216308594
10/10 [==============================] - 0s 2ms/step
MSE 23: 41.41676330566406
10/10 [==============================] - 0s 949us/step
MSE 24: 42.220115661621094
10/10 [==============================] - 0s 3ms/step
MSE 25: 48.17189407348633
10/10 [==============================] - 0s 948us/step
MSE 26: 64.15185546875
10/10 [==============================] - 0s 2ms/step
MSE 27: 47.22713088989258
10/10 [==============================] - 0s 1ms/step
MSE 28: 41.9851188659668
10/10 [==============================] - 0s 2ms/step
MSE 29: 51.8038215637207
10/10 [==============================] - 0s 943us/step
MSE 30: 46.99601364135742
10/10 [==============================] - 0s 979us/step
MSE 31: 50.54296875
10/10 [==============================] - 0s 1ms/step
MSE 32: 40.849891662597656
10/10 [==============================] - 0s 3ms/step
MSE 33: 46.716068267822266
10/10 [==============================] - 0s 2ms/step
MSE 34: 44.046043395996094
10/10 [==============================] - 0s 1ms/step
MSE 35: 43.931724548339844
10/10 [==============================] - 0s 1ms/step
MSE 36: 52.71038055419922
10/10 [==============================] - 0s 957us/step
MSE 37: 45.62427520751953
10/10 [==============================] - 0s 4ms/step
MSE 38: 51.31648635864258
10/10 [==============================] - 0s 2ms/step
MSE 39: 47.34677505493164
10/10 [==============================] - 0s 2ms/step
MSE 40: 45.026302337646484
10/10 [==============================] - 0s 2ms/step
MSE 41: 49.728660583496094
10/10 [==============================] - 0s 928us/step
MSE 42: 41.2242431640625
10/10 [==============================] - 0s 1ms/step
MSE 43: 44.992950439453125
10/10 [==============================] - 0s 1ms/step
MSE 44: 47.72245788574219
10/10 [==============================] - 0s 1ms/step
MSE 45: 52.75859451293945
10/10 [==============================] - 0s 2ms/step
MSE 46: 50.48796844482422
10/10 [==============================] - 0s 2ms/step
MSE 47: 46.60780334472656
10/10 [==============================] - 0s 1ms/step
MSE 48: 46.81218338012695
10/10 [==============================] - 0s 2ms/step
MSE 49: 49.562252044677734
10/10 [==============================] - 0s 939us/step
MSE 50: 47.41073989868164
10/10 [==============================] - 0s 966us/step


This is the mean and standard deviation of 50 mean squared errors without normalized data. Total number of epochs for each training is: 50

Mean: 51.937900185645205
Standard Deviation: 12.817966255108242

### How does the mean of the mean squared errors compare to that from Step A?

It seems that by normalizing the predictors, the value of MSE doesn't change much, but the value of the standard deviation increasing